body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-image: linear-gradient(to bottom right, #00468B, #7272FE);
    background-repeat: no-repeat;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: baseline;
}

a {
    color: none;
    color: white;
    text-decoration: none;
    
}

.nav-tab,
.footer-tab {
    list-style-type: none;
    display: inline;
    margin: 5%;
}

.title {
    padding-right: 35%;
}

.footer-list {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.title-center {
    text-align: center
}

