body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-image: linear-gradient(to bottom right, #00468B, #7272FE);
    background-repeat: no-repeat;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: baseline;
}

a {
    color: none;
    color: white;
    text-decoration: none;
    
}

.nav-tab,
.footer-tab {
    list-style-type: none;
    display: inline;
    margin: 5%;
}

#home-tab:hover, 
#about-tab:hover,
#resume-tab:hover,
#portfolio-tab:hover,
#contact-tab:hover,
.footer-link:hover {
    text-decoration: underline;
}

.main-title {
    padding-right: 35%;
}

.footer-list {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.title-center {
    text-align: center
}

.profile-picture {
    width: 20%;
    border-radius: 10%;
    margin-left: 40%;
}

.download-paragraph {
    text-align: center;
}

.download {
    text-decoration: underline;
}

.download:hover {
    font-weight: bold;
}

#education, 
#experience,
#volunteer,
#skills {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: auto;
    gap: 40px;
    justify-content: space-between;
    padding-bottom: 20px;
}

.title {
    border-right: white 5px solid
}

#project-pieces {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1%;
}

#portfolio, 
#horoscope, 
#password,
#music,
#weather,
#text {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: black;
}

.images {
    max-height: 100%;
}

.front-text {
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: rgba(73, 95, 168, 0.8);
    padding: 1%
}

.project-title:hover,
.repository-link:hover {
    text-decoration: underline;
}
